@media screen and (max-width: 1240px) {
  .category__banner {
    height: auto;
    padding-bottom: 30px; }
  .category__banner-img {
    display: none; }
  .category__wrapper {
    width: 100%; }
  .category__banner-button {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px; } }

@media screen and (max-width: 1200px) {
  .icons__item_regulation .icons__content {
    left: 0; }
    .icons__item_regulation .icons__content:after {
      left: 45px; }
  .icons__item_plan .icons__content {
    left: auto;
    right: 0; }
    .icons__item_plan .icons__content:after {
      left: auto;
      right: 41px; } }

@media screen and (max-width: 1080px) {
  .slider__list {
    width: 750px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1050px) {
  .filter .container {
    width: 90%;
    padding-right: 0;
    padding-left: 0; }
  .filter__right {
    width: -webkit-calc(100% - 382px);
    width: calc(100% - 382px); }
  .filter__img, .filter__desc {
    display: none; }
  .filter__wrapper {
    height: auto; }
  .filter__title {
    font-size: 28px; } }

@media screen and (max-width: 1030px) {
  .aside {
    margin-right: 0; }
  .links .col {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }
  .links__title {
    background-position: right 0; } }

@media screen and (max-width: 1010px) {
  .aside {
    float: none;
    width: 100%; }
  .aside-block + .aside-block {
    display: none; }
  .aside-block {
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px 15px; }
  .sub-block {
    display: none; }
  .section {
    float: none;
    width: 100%; }
  .section .table {
    text-align: left; }
  .news_page .col {
    float: none;
    width: 100%; }
  .catalog-search__title {
    line-height: normal;
    display: block;
    margin-bottom: 5px; }
  .catalog-search__wrapper {
    display: block;
    width: 100%; }
  .catalog-search__wrapper .catalog-search__input {
    width: 100% !important; } }

@media screen and (max-width: 995px) {
  .catalog-filter .catalog-filter__this {
    width: 100%; }
  .catalog-filter .elements__buttons .button {
    display: inline-block; }
  .catalog-filter .info-block {
    width: 100%;
    height: auto !important;
    text-align: center; }
    .catalog-filter .info-block .button {
      margin-left: auto;
      margin-right: auto; }
  .catalog-filter .element .element__name, .catalog-filter .element .element__this {
    display: block;
    width: 100%; }
  .catalog-banner {
    overflow: hidden; }
  .img-x2 img {
    float: none !important;
    display: block;
    margin: 0 auto 10px !important;
    max-width: 100%; }
  .info-block .callback-block {
    right: auto;
    left: -webkit-calc(50% - 140px);
    left: calc(50% - 140px); } }

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
    max-width: 100%; }
  .nav-btn {
    display: block; }
  .element__name {
    display: block; }
  .elements__buttons .button {
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; }
  .nav {
    height: 55px;
    position: relative; }
    .nav .container {
      position: static; }
      .nav .container > ul {
        display: none;
        z-index: 20;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        border-top: 1px solid #ECEFF3;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #DADEE3; }
        .nav .container > ul ul {
          display: none; }
        .nav .container > ul li {
          display: block;
          width: 100%; }
          .nav .container > ul li:last-of-type a:after {
            display: none; }
          .nav .container > ul li a {
            position: relative;
            line-height: 45px;
            background: #DADEE3 !important; }
            .nav .container > ul li a:after {
              position: relative;
              display: block;
              content: '';
              width: 150px;
              height: 1px;
              background: #B3BECB;
              margin-left: auto;
              margin-right: auto; }
  .panel__search {
    width: -webkit-calc(100% - 520px);
    width: calc(100% - 520px); }
  .search-form {
    width: 100%; }
  .panel__contacts {
    padding-right: 0; }
  .banner {
    margin-top: 9px; }
  .main-content__left {
    float: none;
    width: 100%;
    margin-bottom: 20px; }
  .main-content__right {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .contacts__left, .contacts__right {
    float: none;
    width: 100%; }
  .feedback__input {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .album__main .col {
    float: none;
    width: 100%; }
  .album__main .img-count {
    display: none; }
  .album__left {
    margin-bottom: 20px; }
    .album__left img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .album__list .col {
    width: 311px;
    float: none; }
  .album__item {
    width: 311px;
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .gallery .col {
    vertical-align: top;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50%; }
  .gallery .gallery__item {
    width: 290px;
    margin-left: auto;
    margin-right: auto; }
  .product__left, .product__right {
    float: none;
    width: 100%; }
  .product__left {
    margin-bottom: 30px; }
  .product__icons {
    display: none; }
  .product__tabs {
    margin-top: 10px; }
    .product__tabs .tabs__nav-item {
      display: block;
      border-bottom: none !important;
      -webkit-border-radius: 0;
              border-radius: 0;
      padding-left: 20px;
      border-left: 2px solid transparent; }
      .product__tabs .tabs__nav-item.tabs__nav-item_select, .product__tabs .tabs__nav-item:hover {
        border-bottom: none !important; }
      .product__tabs .tabs__nav-item.tabs__nav-item_select {
        border-left: 2px solid #12263b; }
      .product__tabs .tabs__nav-item .icon {
        display: none; }
  .dops__list {
    text-align: center; }
  .dops__item {
    width: 270px;
    display: inline-block;
    height: 305px;
    vertical-align: top; }
    .dops__item .dops__price {
      padding-left: 15px;
      padding-right: 15px; }
    .dops__item.dops__item_select .dops__content {
      top: 9px;
      padding-top: 0; }
    .dops__item.dops__item_select .dops__img {
      position: relative;
      margin-left: auto !important;
      padding-top: 49px; }
    .dops__item.dops__item_select .dops__price {
      padding-top: 0; }
  .dops__desc, .dops__strong, .dops__add, .dops__clear {
    display: none !important; }
  .dops__img {
    float: none;
    margin-left: 0;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto; }
  .dops__content {
    position: absolute;
    left: 0;
    top: 10px;
    padding-top: 0;
    margin-left: 0;
    width: 100%; }
  .dops__price {
    float: none;
    height: auto;
    padding-top: 0;
    border-left: none; }
  .dops__button {
    margin-left: auto;
    margin-right: auto; }
  .plashka .callback-block {
    left: auto;
    right: -40px; }
  .other .subtitle {
    margin-bottom: 0; }
  .other .other__top {
    width: 100%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .other .other__bottom {
    padding-bottom: 0;
    margin-bottom: -10px; }
    .other .other__bottom .col {
      float: none;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; }
      .other .other__bottom .col:last-of-type {
        margin-bottom: 0; }
      .other .other__bottom .col img {
        width: 100%; }
  .dupl__bottom .dupl__titles {
    display: none; }
  .dupl__bottom .dupl__list {
    text-align: center; }
    .dupl__bottom .dupl__list .col {
      height: auto;
      padding: 0;
      width: 100% !important; }
  .dupl__bottom .dupl__title {
    padding-top: 0;
    line-height: 19px;
    margin-bottom: 5px; }
  .dupl__bottom .dupl__item {
    display: inline-block;
    padding: 10px;
    width: 200px;
    border: 1px solid #DEE2E6;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: top;
    height: 220px;
    margin-bottom: 10px; }
  .dupl__bottom .dupl__img {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .dupl__bottom .dupl__desc {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 13px; }
  .dupl__bottom .dupl__desc, .dupl__bottom .dupl__price {
    padding-top: 0; }
  .dupl__bottom .dupl__price-btn {
    margin: 0 auto !important; }
  .catalog_dops {
    padding-top: 0 !important;
    margin-bottom: -40px; }
    .catalog_dops .row {
      padding-bottom: 0; }
  .catalog__table .img-wrap {
    display: none !important; }
  .catalog__table td, .catalog__table th {
    padding-left: 3px;
    padding-right: 3px; }
  .category__item {
    width: 100% !important;
    margin-bottom: 30px; }
  .category__content {
    width: -webkit-calc(100% - 135px);
    width: calc(100% - 135px); }
  .category__subtitle {
    margin-bottom: 0; }
  .footer__top .col {
    width: 50%; }
    .footer__top .col:nth-of-type(1), .footer__top .col:nth-of-type(2) {
      margin-bottom: 20px; }
  .footer__nav {
    padding-right: 10px; }
  .copy__content {
    padding-right: 5px; }
  .footer__contacts {
    margin-left: 20px; }
  .plashka {
    text-align: center; }
    .plashka .col {
      width: 28%;
      margin-left: auto !important;
      margin-right: auto !important; }
      .plashka .col:nth-of-type(1) {
        width: 44%; }
      .plashka .col:nth-of-type(4) {
        display: none; } }

@media screen and (max-width: 920px) {
  .page404 {
    background: none;
    min-height: 1px; }
  .page404__wrapper {
    width: 100%; } }

@media screen and (max-width: 905px) {
  .filter__right {
    padding: 20px 20px 20px 30px; }
  .filter__title {
    font-size: 24px; }
  .banner__list .banner__title {
    padding-top: 15px; }
  .banner__list .banner__desc {
    width: 180px; }
  .complex__list .col {
    width: 100%; } }

@media screen and (max-width: 870px) {
  .banner__list .col {
    float: none;
    width: 100%;
    max-width: 500px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto; }
    .banner__list .col:last-of-type {
      margin-bottom: 0; }
  .advantages .col {
    padding-left: 5px;
    padding-right: 5px; }
  .footer__bottom .clearfix {
    float: none; }
  .footer__logo, .footer__phone, .footer__phones {
    width: 33.333%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px; }
  .footer__contacts {
    float: none;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
  .slider__list {
    width: 500px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 850px) {
  .banner__main img {
    display: block;
    height: 395px;
    width: auto; }
  .banner__main .banner__title, .banner__main .banner__desc {
    margin-left: 15px; }
  .banner__main .banner__title {
    margin-top: 50px; }
  .banner__main .banner__desc {
    font-size: 24px;
    line-height: 26px;
    width: 220px;
    margin-top: 30px; }
  .banner__main .banner__img {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px; }
  .banner__main .banner__button {
    margin-left: -15px;
    width: 290px;
    font-size: 18px;
    margin-right: 33px;
    margin-top: 50px; }
  .equipment {
    padding-bottom: 0; }
  .equipment__list .col {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    max-width: 405px;
    margin-left: auto;
    margin-right: auto; }
  .equipment__list .row {
    margin-bottom: 0 !important; } }

@media screen and (max-width: 795px) {
  .filter {
    padding-top: 25px;
    padding-bottom: 30px; }
    .filter .container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; }
  .filter__wrapper {
    margin-left: 0;
    margin-right: 0; }
    .filter__wrapper .col {
      float: none;
      width: 100%; }
  .filter__nav {
    width: 100%;
    padding: 15px; }
    .filter__nav .tabs__nav-item span {
      display: inline;
      width: 100%; }
    .filter__nav .tabs__nav-item:after {
      display: none; }
    .filter__nav .tabs__nav-item:hover, .filter__nav .tabs__nav-item.tabs__nav-item_select {
      margin-right: 0; }
    .filter__nav .icon.icon-catalog-tumblr-black {
      top: 8px; }
  .filter__right {
    height: auto;
    padding: 15px; }
  .elements__buttons .button {
    display: inline-block; }
  .elements {
    padding: 45px 15px 15px; }
  .advantages {
    margin-top: 0; }
  .filter__step {
    left: 15px !important; }
  .filter_steps .filter__right {
    padding-top: 65px; }
    .filter_steps .filter__right:before {
      display: none; }
    .filter_steps .filter__right .filter__step {
      top: 20px; } }

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 30px;
    text-transform: none; }
  .subtitle {
    font-size: 20px;
    margin-bottom: 25px; }
  .select__list {
    position: relative;
    top: -1px; }
  .panel {
    padding-bottom: 25px;
    background: #005a9c;
    background: -webkit-linear-gradient(top, #005a9c 0%, #0f4279 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#005a9c), to(#0f4279));
    background: linear-gradient(to bottom, #005a9c 0%, #0f4279 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005a9c', endColorstr='#0f4279',GradientType=0 ); }
    .panel .col {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .panel__logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px; }
    .panel__logo img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 225px;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; }
  .search-form {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; }
    .search-form input:focus {
      margin-bottom: -2px; }
  .panel__contacts {
    text-align: center; }
    .panel__contacts .number_federal {
      margin-top: 15px; }
    .panel__contacts .callback-block {
      top: 120px;
      left: -webkit-calc(50% - 140px);
      left: calc(50% - 140px); }
  .banner__main .banner__img {
    margin-left: -15px;
    margin-right: -15px; }
  .advantages {
    padding-bottom: 35px; }
    .advantages .col {
      width: 50%;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 15px; }
  .advantages__img {
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .advantages__subtitle {
    margin-bottom: 5px; }
  .advantages__desc {
    max-width: 145px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    line-height: 12px; }
  .main-content {
    padding-top: 30px; }
  .catalog {
    padding-top: 45px; }
    .catalog .col {
      float: none;
      width: 100%;
      margin-bottom: 25px; }
    .catalog .row {
      padding-top: 0; }
  .catalog__title {
    font-size: 22px;
    margin-top: 10px;
    padding-bottom: 10px; }
  .catalog__item {
    padding-right: 0; }
  .img {
    display: block;
    margin: 0 auto 10px !important; }
    .img.img-left, .img.img-right {
      float: none; }
  .plashka {
    padding: 0; }
    .plashka .callback-block {
      left: auto;
      right: auto;
      top: -200px;
      left: -webkit-calc(50% - 140px);
      left: calc(50% - 140px); }
    .plashka .row {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 0;
      padding-right: 0; }
    .plashka .col {
      display: block !important;
      width: 100% !important;
      float: none; }
      .plashka .col:nth-of-type(1) {
        margin-bottom: 20px; }
    .plashka .button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px; } }

@media screen and (max-width: 745px) {
  .news_page .news__item {
    padding: 15px 0 !important; }
  .news_page .news__img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 310px; }
    .news_page .news__img img {
      max-width: 100%; }
  .news_page .news__content {
    margin-left: 0;
    width: 100%; }
  .news_page .news__date {
    margin-top: 7px; } }

@media screen and (max-width: 680px) {
  .gallery .col {
    vertical-align: top;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%; }
  .gallery__item {
    width: 270px !important;
    margin-left: auto;
    margin-right: auto; }
  .popup_feedback .popup__window {
    padding: 20px 20px 70px; }
  .popup_feedback .popup__window, .popup__window_step-1, .popup__window_step-2 {
    width: 100%;
    padding: 20px; }
  .input {
    display: block;
    width: 100% !important; }
  .popup__agreement {
    margin-left: 0 !important;
    padding-top: 0 !important; }
    .popup__agreement br {
      display: none; }
  .popup__button {
    position: absolute;
    left: 20px;
    bottom: 10px; }
  .popup__window_step-1 .button {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important; }
    .popup__window_step-1 .button .icon {
      display: none; }
  .popup__window_step-1 .desc br {
    display: none; }
  .popup_feedback .popup__window {
    padding: 20px 20px 70px; }
  .successfully {
    position: relative;
    top: -75px; }
    .successfully br {
      display: none; }
    .successfully .popup__window {
      padding-bottom: 20px; }
      .successfully .popup__window:before {
        display: none; } }

@media screen and (max-width: 650px) {
  .interview-stat {
    padding: 10px; }
  .interview-stat__status, .interview-stat__count {
    float: none; }
  .interview-stat__status {
    top: -3px;
    width: 100%; } }

@media screen and (max-width: 620px) {
  .section .table {
    width: 100%; }
    .section .table th, .section .table td {
      padding: 3px; }
  .table_gray td {
    padding: 5px; }
  .footer__logo {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 0; }
  .footer__logo {
    float: none;
    width: 100%;
    text-align: left; }
  .footer__phone {
    float: left;
    width: 135px;
    text-align: left; }
  .footer__contacts {
    width: 100%;
    text-align: left;
    padding-top: 0; }
  .footer__phones {
    width: 145px;
    float: right; }
  .copy .col {
    float: none;
    width: 100%; }
  .copy__dev {
    margin-top: 15px; }
  .footer__bottom {
    padding-top: 20px; }
  .sort__count, .sort__list {
    float: none;
    top: 0;
    width: 100%; }
  .sort__list {
    display: none;
    margin-bottom: 10px; }
    .sort__list .select, .sort__list .sort__sort-type-2, .sort__list .sort__sort-type-1 {
      display: block;
      margin-left: 0;
      width: 100%; }
    .sort__list .select__title {
      padding-left: 0; }
    .sort__list .select__list {
      margin-bottom: 10px;
      width: 100% !important; }
  .slider {
    padding-bottom: 20px; }
  .slider__item {
    padding-right: 0; }
  .slider__list {
    width: 230px;
    margin-left: auto;
    margin-right: auto; }
  .slider__img, .slider__subtitle, .slider__desc {
    width: 230px;
    margin-left: auto;
    margin-right: auto; }
  .dupl .sort {
    margin-bottom: 10px; } }

@media screen and (max-width: 595px) {
  .catalog-banner img {
    display: none; }
  .catalog-banner__content {
    width: 100%;
    padding: 20px;
    position: relative;
    top: 0; } }

@media screen and (max-width: 550px) {
  .footer__top {
    display: none; }
  .footer__bottom {
    border-top: 7px solid #EBEDF2; } }

@media screen and (max-width: 520px) {
  .feedback__send {
    position: relative;
    padding-bottom: 90px; }
    .feedback__send p {
      top: 50px;
      margin-left: 0; }
  .feedback__button {
    position: absolute;
    top: 20px; }
  .table_ladder-1 {
    width: 100%; }
  .product__price .col {
    float: none;
    width: 100%; }
  .product__price .button {
    margin-left: 0;
    margin-bottom: 5px; }
  .catalog__table th, .catalog__table td {
    display: none; }
    .catalog__table th:nth-of-type(1), .catalog__table th:nth-of-type(2), .catalog__table th:nth-of-type(3), .catalog__table th:nth-of-type(4), .catalog__table td:nth-of-type(1), .catalog__table td:nth-of-type(2), .catalog__table td:nth-of-type(3), .catalog__table td:nth-of-type(4) {
      display: table-cell; }
  .row-two_select .price__desc {
    padding-left: 0 !important; } }

@media screen and (max-width: 490px) {
  .complex .complex__list .row:nth-of-type(2) .col:nth-of-type(2) .complex__name {
    padding-top: 30px; }
  .complex__item {
    height: 80px;
    margin-bottom: 5px; }
  .complex__img img {
    max-height: 76px; }
  .complex__name {
    width: 100%;
    max-width: 190px;
    margin-left: 95px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding-top: 25px; } }

@media screen and (max-width: 450px) {
  .select {
    display: block;
    width: 100% !important; }
  .element__this {
    display: block; }
  .elements__buttons .button {
    display: block; }
  .specialist__img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 20px; }
  .specialist__content {
    margin-left: 0; }
  .equipment__list .col {
    margin-bottom: 40px; }
  .equipment__img {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .equipment__content {
    margin-left: 0; }
  .pagination {
    display: none; }
  .catalog-search {
    padding: 0;
    background: none; }
  .catalog-search__title {
    display: none; }
  .catalog-search__icon {
    left: 10px; }
  .catalog-search__wrapper .catalog-search__input {
    border: 2px solid #184576;
    line-height: 38px;
    width: 95% !important;
    padding: 0 85px 0 30px;
    font-size: 14px; }
  .popup__title {
    padding-right: 20px; } }

@media screen and (max-width: 420px) {
  .footer .container {
    padding-left: 10px;
    padding-right: 10px; }
  .banner__main .banner__title, .banner__main .banner__desc {
    margin-left: 0; }
  .banner__main .banner__button {
    padding-right: 63px; }
  .banner__main .banner__content {
    width: 100%; }
  .main-content__right {
    width: 100%; }
  .interview__wrapper {
    width: 100%;
    height: auto;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px; }
  .interview__title {
    font-size: 16px;
    padding-bottom: 20px; }
  .interview__bottom {
    padding-left: 23px;
    padding-right: 23px; }
  .filter__nav span {
    font-size: 18px;
    line-height: 24px; }
  .search {
    background: none;
    padding: 0; }
    .search .icon {
      left: 19px;
      top: 14px; }
    .search .button {
      right: 0;
      top: 0; }
  .feedback {
    margin-left: -15px;
    margin-right: -15px; }
  .feedback__title, .feedback__elements, .feedback__captcha, .feedback__send {
    padding-left: 15px;
    padding-right: 15px; }
  .feedback__message {
    width: 100% !important;
    padding-left: 15px; }
    .feedback__message .icon {
      display: none; }
  .feedback__captcha {
    display: none; }
  .catalog-filter .info-block {
    padding-left: 0;
    padding-right: 0; }
  .catalog-filter .elements__title {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .catalog-filter .elements__buttons .button {
    display: block; }
  .docs__icon {
    display: none; }
  .category__img {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .category__content {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 10px; } }

@media screen and (max-width: 390px) {
  .links li {
    line-height: 24px !important;
    margin-bottom: 10px; }
  .links__title {
    background: none;
    padding-bottom: 0; }
  .table_ladder-1 td {
    padding: 5px; }
  .links-tab__a span {
    display: inline; }
  .catalog__table th, .catalog__table td {
    display: none; }
    .catalog__table th:nth-of-type(4), .catalog__table td:nth-of-type(4) {
      display: none; } }

@media screen and (max-width: 350px) {
  .album__list .col {
    width: 100%; }
  .album__img {
    height: auto; }
    .album__img:after {
      display: none; }
    .album__img img {
      height: auto; }
  .album__count {
    display: none; }
  .slider .slick-prev {
    left: -30px; }
  .slider .slick-next {
    right: -30px; } }
