i.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -238px -133px;
  width: 9px;
  height: 6px; }

i.icon-arrow-left-bold {
  background-image: url(../img/sprite.png);
  background-position: -238px -139px;
  width: 13px;
  height: 19px; }

i.icon-arrow-left {
  background-image: url(../img/sprite.png);
  background-position: -114px -194px;
  width: 20px;
  height: 18px; }

i.icon-arrow-right-black {
  background-image: url(../img/sprite.png);
  background-position: -235px -220px;
  width: 11px;
  height: 8px; }

i.icon-arrow-right-blue-2 {
  background-image: url(../img/sprite.png);
  background-position: -251px -16px;
  width: 7px;
  height: 10px; }

i.icon-arrow-right-blue {
  background-image: url(../img/sprite.png);
  background-position: -200px -124px;
  width: 14px;
  height: 12px; }

i.icon-arrow-right-bold {
  background-image: url(../img/sprite.png);
  background-position: -238px -114px;
  width: 13px;
  height: 19px; }

i.icon-arrow-right-white {
  background-image: url(../img/sprite.png);
  background-position: -238px -164px;
  width: 11px;
  height: 16px; }

i.icon-book {
  background-image: url(../img/sprite.png);
  background-position: -154px -194px;
  width: 20px;
  height: 16px; }

i.icon-catalog-fish-black {
  background-image: url(../img/sprite.png);
  background-position: -47px -194px;
  width: 47px;
  height: 26px; }

i.icon-catalog-fish-white {
  background-image: url(../img/sprite.png);
  background-position: 0px -194px;
  width: 47px;
  height: 26px; }

i.icon-catalog-ice-black {
  background-image: url(../img/sprite.png);
  background-position: 0px -156px;
  width: 41px;
  height: 38px; }

i.icon-catalog-ice-white {
  background-image: url(../img/sprite.png);
  background-position: -41px -156px;
  width: 41px;
  height: 38px; }

i.icon-catalog-meat-black {
  background-image: url(../img/sprite.png);
  background-position: -214px 0px;
  width: 37px;
  height: 41px; }

i.icon-catalog-meat-white {
  background-image: url(../img/sprite.png);
  background-position: -214px -41px;
  width: 37px;
  height: 41px; }

i.icon-catalog-power-black {
  background-image: url(../img/sprite.png);
  background-position: -44px -112px;
  width: 40px;
  height: 44px; }

i.icon-catalog-power-white {
  background-image: url(../img/sprite.png);
  background-position: -84px -112px;
  width: 40px;
  height: 44px; }

i.icon-catalog-snowflake-black {
  background-image: url(../img/sprite.png);
  background-position: -162px -112px;
  width: 38px;
  height: 43px; }

i.icon-catalog-snowflake-white {
  background-image: url(../img/sprite.png);
  background-position: -124px -112px;
  width: 38px;
  height: 43px; }

i.icon-catalog-tumblr-black {
  background-image: url(../img/sprite.png);
  background-position: -82px -156px;
  width: 47px;
  height: 33px; }

i.icon-catalog-tumblr-white {
  background-image: url(../img/sprite.png);
  background-position: -129px -156px;
  width: 47px;
  height: 33px; }

i.icon-checkbox-big-checked {
  background-image: url(../img/sprite.png);
  background-position: -214px -139px;
  width: 24px;
  height: 25px; }

i.icon-checkbox-big-default {
  background-image: url(../img/sprite.png);
  background-position: -214px -114px;
  width: 24px;
  height: 25px; }

i.icon-checkbox-checked {
  background-image: url(../img/sprite.png);
  background-position: -200px -136px;
  width: 12px;
  height: 12px; }

i.icon-checkbox-default {
  background-image: url(../img/sprite.png);
  background-position: -239px -194px;
  width: 12px;
  height: 12px; }

i.icon-clear {
  background-image: url(../img/sprite.png);
  background-position: -207px -194px;
  width: 16px;
  height: 16px; }

i.icon-comment {
  background-image: url(../img/sprite.png);
  background-position: -106px -220px;
  width: 15px;
  height: 16px; }

i.icon-cross-blue {
  background-image: url(../img/sprite.png);
  background-position: -223px -194px;
  width: 16px;
  height: 16px; }

i.icon-cross-yellow {
  background-image: url(../img/sprite.png);
  background-position: -191px -194px;
  width: 16px;
  height: 16px; }

i.icon-doc {
  background-image: url(../img/sprite.png);
  background-position: -214px -82px;
  width: 32px;
  height: 32px; }

i.icon-gear-big-blue-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -220px;
  width: 18px;
  height: 18px; }

i.icon-gear-big-blue {
  background-image: url(../img/sprite.png);
  background-position: -18px -220px;
  width: 18px;
  height: 18px; }

i.icon-gear-big-turquoise {
  background-image: url(../img/sprite.png);
  background-position: -36px -220px;
  width: 18px;
  height: 18px; }

i.icon-gear-blue {
  background-image: url(../img/sprite.png);
  background-position: -191px -220px;
  width: 12px;
  height: 12px; }

i.icon-gear-key {
  background-image: url(../img/sprite.png);
  background-position: -94px -194px;
  width: 20px;
  height: 20px; }

i.icon-img-count-black {
  background-image: url(../img/sprite.png);
  background-position: -121px -220px;
  width: 16px;
  height: 14px; }

i.icon-img-count-white {
  background-image: url(../img/sprite.png);
  background-position: -90px -220px;
  width: 16px;
  height: 16px; }

i.icon-info {
  background-image: url(../img/sprite.png);
  background-position: -251px 0px;
  width: 7px;
  height: 16px; }

i.icon-interview {
  background-image: url(../img/sprite.png);
  background-position: -152px -220px;
  width: 15px;
  height: 12px; }

i.icon-magnifying-glass-blue {
  background-image: url(../img/sprite.png);
  background-position: -137px -220px;
  width: 15px;
  height: 14px; }

i.icon-magnifying-glass-plus-gray {
  background-image: url(../img/sprite.png);
  background-position: -214px -164px;
  width: 24px;
  height: 24px; }

i.icon-magnifying-glass-plus-white {
  background-image: url(../img/sprite.png);
  background-position: 0px -112px;
  width: 44px;
  height: 44px; }

i.icon-magnifying-glass-yellow {
  background-image: url(../img/sprite.png);
  background-position: -174px -194px;
  width: 17px;
  height: 16px; }

i.icon-phone-blue {
  background-image: url(../img/sprite.png);
  background-position: -179px -220px;
  width: 12px;
  height: 12px; }

i.icon-phone-turquoise {
  background-image: url(../img/sprite.png);
  background-position: -167px -220px;
  width: 12px;
  height: 12px; }

i.icon-phone-yellow {
  background-image: url(../img/sprite.png);
  background-position: -203px -220px;
  width: 12px;
  height: 12px; }

i.icon-plus {
  background-image: url(../img/sprite.png);
  background-position: -215px -220px;
  width: 10px;
  height: 10px; }

i.icon-product-helmet-black {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 53px;
  height: 58px; }

i.icon-product-helmet-blue {
  background-image: url(../img/sprite.png);
  background-position: -53px 0px;
  width: 53px;
  height: 58px; }

i.icon-product-plan-black {
  background-image: url(../img/sprite.png);
  background-position: -161px 0px;
  width: 53px;
  height: 53px; }

i.icon-product-plan-blue {
  background-image: url(../img/sprite.png);
  background-position: -161px -53px;
  width: 53px;
  height: 53px; }

i.icon-product-regulation-black {
  background-image: url(../img/sprite.png);
  background-position: -55px -58px;
  width: 53px;
  height: 54px; }

i.icon-product-regulation-blue {
  background-image: url(../img/sprite.png);
  background-position: -108px -58px;
  width: 53px;
  height: 54px; }

i.icon-product-screwdriver-black {
  background-image: url(../img/sprite.png);
  background-position: -106px 0px;
  width: 55px;
  height: 54px; }

i.icon-product-screwdriver-blue {
  background-image: url(../img/sprite.png);
  background-position: 0px -58px;
  width: 55px;
  height: 54px; }

i.icon-radio-checked {
  background-image: url(../img/sprite.png);
  background-position: -72px -220px;
  width: 18px;
  height: 18px; }

i.icon-radio-default {
  background-image: url(../img/sprite.png);
  background-position: -54px -220px;
  width: 18px;
  height: 18px; }

i.icon-regulation {
  background-image: url(../img/sprite.png);
  background-position: -200px -112px;
  width: 14px;
  height: 12px; }

i.icon-snowflake {
  background-image: url(../img/sprite.png);
  background-position: -225px -220px;
  width: 10px;
  height: 10px; }

i.icon-sub-blue {
  background-image: url(../img/sprite.png);
  background-position: -176px -156px;
  width: 38px;
  height: 31px; }

i.icon-sub-yellow {
  background-image: url(../img/sprite.png);
  background-position: -134px -194px;
  width: 20px;
  height: 17px; }

i.icon-successfully {
  background-image: url(../img/sprite.png);
  background-position: -238px -180px;
  width: 12px;
  height: 8px; }

i.icon {
  display: inline-block;
  vertical-align: middle; }
